    <mat-tab-group [selectedIndex]="1">
        <mat-tab label="Template Driven Forms"> 
            <!-- <form #loginform="ngForm" class="example-form" (ngSubmit)="fnSubmit(loginform.value)"> -->
            <form #loginform="ngForm" class="example-form" (ngSubmit)="fnSubmit(loginform.controls)">
                <mat-form-field class="example-full-width">
                    <input type="text" ngModel matInput placeholder="Username" name="username"
                    required #username="ngModel" pattern="[a-zA-z]+$"/>
                    <span *ngIf="username.invalid && username.touched">Please enter valid username</span>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input type="text" ngModel matInput placeholder="Email" name="email"
                    required #email="ngModel" email/>
                    <span *ngIf="email.invalid && email.touched">Please enter valid email address</span>
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input ngModel type="password" minlength="2" matInput placeholder="Password" name="password"
                    required #password="ngModel" />
                    <span *ngIf="password.invalid && password.touched">Please enter valid password</span>
                </mat-form-field>
                <button [disabled]="loginform.invalid" mat-raised-button color="primary">Submit</button>
            </form>
        </mat-tab>
        <mat-tab label="Reactive Forms">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <td><form [formGroup]="loginReactiveform" class="example-form" (ngSubmit)="fnReactiveSubmit()">
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Enter Username" formControlName="ReactUserName" />
                                <span *ngIf="ReactUserName?.invalid && ReactUserName?.touched">Please enter valid username</span>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Enter Email" formControlName="ReactEmail" />
                                <span *ngIf="ReactEmail?.invalid && ReactEmail?.touched">Please enter valid email address</span>
                            </mat-form-field>
                            <mat-form-field class="example-full-width">
                                <input type="text" matInput placeholder="Enter Password" formControlName="ReactPassword" />
                                <span *ngIf="ReactPassword?.invalid && ReactPassword?.touched">Please enter valid password</span>
                            </mat-form-field>
                            <button mat-raised-button color="primary" [disabled]="loginReactiveform.invalid">Login</button>
                       </form></td>
                        <td>
                            <ul>
                                <li><span>Username</span>{{ReactUserName?.value}}</li>
                                <li><span>Email</span>{{ReactEmail?.value}}</li>
                                <li><span>Password</span>{{ReactPassword?.value}}</li>
                                <li><span>Submitted</span>{{isSubmitted}}</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            
        </table>
        </mat-tab>
</mat-tab-group>
