nav img{
    width: 5%;
    float: right;
}
nav {
    background-color: black;
    padding: 10px;
}
ul{
    /* float: left; */
    list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 10px;
}
li a{
    columns: #fff;
    text-decoration: none;
    cursor: pointer;
}