<input type="text" #task placeholder="Enter Task">
<br><br>
<button mat-raised-button color="primary" (click)="fnAddTask(task.value)" >Add Task</button>
<ul *ngFor="let ii of todolist">
    <li>{{ii.id}} :- {{ii.name}}
        <button  mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="fnRemoveTask(ii.id)">
            <mat-icon></mat-icon>
          </button>
    </li>
</ul>
<br/><br/>
<mat-slide-toggle>Toggle me!</mat-slide-toggle>
<br/>
<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
  </section>
  <br/>
  
<div class="demo-section">
    <span matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</span>
    <br/>
    <span matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</span>
    <br/>
    Button with a badge on the left
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
        Action
    </button>
</div>
